@model CRUD_CSHARP.Models.Veiculo

@{
    ViewData["Title"] = "Detalhes do Veículo";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Detalhes do Veículo</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Placa</dt>
            <dd class="col-sm-9">@Model.Placa</dd>

            <dt class="col-sm-3">Modelo</dt>
            <dd class="col-sm-9">@Model.Modelo</dd>

            <dt class="col-sm-3">Marca</dt>
            <dd class="col-sm-9">@Model.Marca</dd>

            <dt class="col-sm-3">Ano</dt>
            <dd class="col-sm-9">@Model.Ano</dd>

            <dt class="col-sm-3">Capacidade em litros</dt>
            <dd class="col-sm-9">@Model.CapacidadeTanqueLitros</dd>

            <dt class="col-sm-3">Combustivel</dt>
            <dd class="col-sm-9">@Model.Combustivel</dd>

            <dt class="col-sm-3">Categoria</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Categoria)</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
        <a class="btn btn-secondary" asp-action="Index">Voltar</a>
    </div>
</div>
